
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role='list']
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: hsl(30, 54%, 90%);
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

}

.container {
    max-width: 40rem;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.preparation {
    background-color: hsl(30, 18%, 87%);
    padding: 10px;
    border-radius: 15px;
}

.instructions {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

p {
    font-family:  sans-serif;
    font-family: serif;
}

h1 {
    font-family: Young Serif;
}
li {
    padding: 5px;
}

h2 {
    color:  hsl(14, 45%, 36%);
}

h3 {
    margin: 14px;
    font-family: 'Outfit', sans-serif;
    font-style: bold;
    color: hsl(332, 51%, 32%);
}

.measurements {
    color: hsl(14, 45%, 36%);
    padding-left: 150px;
    font-weight: bold;
}

b {
    color: hsl(30, 10%, 34%);
}

.instrc {
    padding-left: 10px;
}

td {
    padding: 0 80px 15px;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;

}

.row {
    border-bottom: 1px solid grey;
}

